body {
    margin: 20px;
}

.card {
    display: flex;
    color: #BAD4CF;
    padding: 20px;
    background: #212424;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 6px lightblue solid;
    font-family: JetBrainsMono Nerd Font;
}

.avatar {
    width: 150px;
}

